.wrapper {
    display: grid;
    grid-template-columns: 42px 1fr 42px;
    margin-bottom: 10px;
    gap: 10px;
    &:hover {
        background-color:rgba(233,30,99, 0.1)
    }
}
.isDone {
    opacity: 0.5;
}
